
:export {
    colorPrimary: $colorPrimary;
    white: $white;
    blue: $blue;
    borderRadius: $borderRadius;
    colorBgBase: $colorBgBase;
    colorBgPanel: $colorBgPanel;
    colorErrorText: $colorErrorText;
    colorError: $colorError;
    colorInfo: $colorInfo;
    colorSuccess: $colorSuccess;
    colorWarning: $colorWarning;
    controlHeight: $controlHeight;
    cyan: $cyan;
    fontFamily: $fontFamily;
    fontFamilyCode: $fontFamilyCode;
    fontSize: $fontSize;
    geekblue: $geekblue;
    gold: $gold;
    green: $green;
    lime: $lime;
    lineType: $lineType;
    lineWidth: $lineWidth;
    magenta: $magenta;
    motionBase: $motionBase;
    motionEaseInBack: $motionEaseInBack;
    motionEaseInOut: $motionEaseInOut;
    motionEaseInOutCirc: $motionEaseInOutCirc;
    motionEaseInQuint: $motionEaseInQuint;
    motionEaseOut: $motionEaseOut;
    motionEaseOutBack: $motionEaseOutBack;
    motionEaseOutCirc: $motionEaseOutCirc;
    motionEaseOutQuint: $motionEaseOutQuint;
    motionUnit: $motionUnit;
    opacityImage: $opacityImage;
    orange: $orange;
    pink: $pink;
    purple: $purple;
    red: $red;
    sizePopupArrow: $sizePopupArrow;
    sizeStep: $sizeStep;
    sizeUnit: $sizeUnit;
    volcano: $volcano;
    wireframe: $wireframe;
    yellow: $yellow;
    zIndexBase: $zIndexBase;
    zIndexPopupBase: $zIndexPopupBase;
}
